body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  background-image: url("../img/bg/landscape.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  color: white;
}

.container {
  flex: 1;
}

.main-cnt {
  background-color: rgba(10, 33, 23, 0.50);
  padding: 20px;
  border-radius: 10px;
}

.main-cnt .card {
  background-color: transparent;
}

.card-content {
  background-color: #0A2117;
  padding: 20px;
  border-radius: 5px;
}

.card-content:hover {
  cursor: pointer;
  animation: neon-effect linear infinite 3s;
}

.navbar {
  background: rgb(19,101,53);
  background: linear-gradient(45deg, rgba(19,101,53,1) 0%, rgba(10,33,23,1) 100%);
}

.navbar-nav .nav-item a {
  color: #FFF;
}

.navbar-nav .nav-item {
  transition: 0.75s;
  margin-right: 10px;
}

.navbar-nav .active {
  background-color: #3C8371;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
}

.navbar-nav .nav-item:hover {
  background-color: #136535;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
}

.navbar-nav .nav-item:hover a {
  color: #FFF !important;
}

footer {
  background: rgb(19,101,53);
  background: linear-gradient(45deg, rgba(19,101,53,1) 0%, rgba(10,33,23,1) 100%);
}

/* The animation code */
@keyframes neon-effect {
  0% {
    background-color: #0A2117;
  }
  25% {
    background-color: #5B6B64;
  }
  50% {
    background-color: #963D6D;
  }
  75% {
    background-color: #B97D9D;
  }
}
